<div class="container-fluid">
    <p>This page will bring the forecast details based on current geolocation of the user.You will have to enable location fetching for the browser when asked for</p>
  <p>City Name : {{home.forecastDetails.city.name}}</p>
  <p>City Coordinates : {{home.forecastDetails.city.coord.lat + ' Latitude ' + home.forecastDetails.city.coord.lon + ' Longitude
    '}}</p>
  <div class='row'>
    <div ng-repeat="obj in home.forecastDetails.list" class="col-xs-{{home.AppParameters.colxscount}} col-md-{{home.AppParameters.colmdcount}} col-lg-{{home.AppParameters.collgcount}} detail-div">
      <p>Date : {{obj.dt_txt}}</p>
      <p>Temperature : {{obj.main.temp}}</p>
      <p>Max Temperature : {{obj.main.temp_max}}</p>
      <p>Min Temperature : {{obj.main.temp_min}}</p>
      <p>pressure : {{obj.main.pressure}}</p>
      <p>{{obj.wind.speed}} Wind Speed </p>
    </div>
  </div>
</div>