.detail-div{
    padding: 15px;
    background-color: #eee;
    box-sizing: border-box;
    margin: 5px;
    -webkit-transition: 0.5s;
          transition: 0.5s;
}
.detail-div:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}